body {
    background-color: #2c2c2c;
}

.login-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    max-width: 400px;
    width: 100%;
    background-color: #2c2c2c;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

     .text-white,
    .login-card p,
    .login-card h2 {
        color: #fff;
    }

    .login-card a {
        color: #0d6efd;
    }
